/* notebook selector */

#evernote-popup-container #evn-notebook-selector:before  {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #bbcbd5;
    font-size: 0;
    content: "";
    position: absolute;
    line-height: 0;
    left: 20px;
    top:-8px;
}

#evernote-popup-container #evn-notebook-selector {
    position: absolute;    
    left: 8px;
    margin-top: 7px;
    width: 254px;
    padding: 10px 0;
    display: none;
    /*height: 334px;*/
    background-color: #bbcbd5;
    border-radius: 2px;
}
#evernote-popup-container #evn-notebook-selector.visible {
    display: block;
}

#evernote-popup-container #evn-notebook-selector .evn_search {
    width: auto;
    padding: 0 18px;
    top: 0;
    right: 0;
}

#evernote-popup-container #evn-notebook-selector .evn_search input::-ms-clear {
    display: none;
}

#evernote-popup-container #evn-notebook-selector .evn_search input {
    background-image: url('extension://images/search_icon.png') !important;
    background-repeat: repeat;
    background-position: 8px 50%;
    box-sizing: border-box;
    border-radius: 16px;
    padding-left: 30px;
    width: 218px;
    height: 24px;
    margin-bottom: 8px;
    border: none !important;
    background-color: #e3edf3 !important;
    font: normal 13px Verdana;
    color: #2f373d;

}

#evernote-popup-container #evn-notebook-selector .evn_search .cancel {
    background-image: url('extension://images/search_cancel.png');
    background-size: 14px 14px;
    cursor: pointer;
    display: none;
    height: 14px;
    position: absolute;
    right: 26px;
    top: 15px;
    width: 14px;
}
#evernote-popup-container #evn-notebook-selector .evn_search .cancel.visible {
    display: block;
}

#evernote-popup-container #evn-notebook-selector #evn_scrollable {
    min-height: 25px;
    max-height: 300px;
    overflow-y:hidden;
    width:auto;
    overflow-x:hidden;
}
#evernote-popup-container #evn-notebook-selector .list {
    width: 254px;
}

#evernote-popup-container #evn-notebook-selector .list .notebook span:last-child {
    color: #53626e;
    font-family: Verdana;
    font-size: 11px;
}

#evernote-popup-container #evn-notebook-selector .stack {
    border: none;
}

#evernote-popup-container #evn-notebook-selector .list span {
    line-height: 24px;
    cursor: pointer;
}

#evernote-popup-container #evn-notebook-selector .list .notebook span{
    white-space: nowrap;
    font-family: Verdana;
    font-size: 13px ;
    color: #2f373d ;
}

#evernote-popup-container #evn-notebook-selector .list .notebook,
#evernote-popup-container #evn-notebook-selector .list .stackHeader,
#evernote-popup-container #evn-notebook-selector .list .stack.collapsed .notebook {
    background-position: 21px 50%;
    cursor: pointer;
    font-weight: 500 ;
    font-family: Verdana;
    font-size: 13px ;
    color: #2f373d ;
    text-align: left;
    line-height: 24px;
    overflow-x: hidden;
    padding: 0 10px 0 50px;
    text-overflow: ellipsis;
    white-space: nowrap !important;
    word-wrap: normal;
    min-height: 0;
}
#evernote-popup-container #evn-notebook-selector .list .notebook.biz,
#evernote-popup-container #evn-notebook-selector .list .stack.collapsed .notebook.biz {
    background-image: url('extension://images/business_dark_icon.png');
    /*background-size: 13px 10px;*/
}
#evernote-popup-container #evn-notebook-selector .list .notebook.biz.selected,
#evernote-popup-container #evn-notebook-selector .list .stack.collapsed .notebook.biz.selected {
    background-image: url('extension://images/business_light_icon.png'), url('extension://images/checkmark_icon.png');
}
#evernote-popup-container #evn-notebook-selector .list .notebook.hidden {
    display: none;
}
#evernote-popup-container #evn-notebook-selector .list .notebook.highlighted span {
    background-color: #99afbd;
}
#evernote-popup-container #evn-notebook-selector .list .notebook.highlighted {
    background-color: #99afbd;
}
#evernote-popup-container #evn-notebook-selector .list .notebook.linked,
#evernote-popup-container #evn-notebook-selector .list .stack.collapsed .notebook.linked {
    background-image: url('extension://images/shared_dark_icon.png');
}
#evernote-popup-container #evn-notebook-selector .list .notebook.linked.selected,
#evernote-popup-container #evn-notebook-selector .list .stack.collapsed .notebook.linked.selected {
    background-image: url('extension://images/shared_light_icon.png'), url('extension://images/checkmark_icon.png');
}
#evernote-popup-container #evn-notebook-selector .list .notebook.selected span:last-child {
    color: white;
}

#evernote-popup-container #evn-notebook-selector .list .notebook.selected span {
    background-color: #3B9FEA;
    color: white;
}

#evernote-popup-container #evn-notebook-selector .list .notebook.selected,
#evernote-popup-container #evn-notebook-selector .list .stack.collapsed .notebook.selected {
    background-color: #4ca4e6;
    background-image: url('extension://images/checkmark_icon.png');
    background-position: calc(100% - 13px) 50%;
    /*background-size: 13px 11px;*/
    color: white;
    padding-right: 30px;
}
#evernote-popup-container #evn-notebook-selector .list .stack .notebook {
    background-position: 35px 50%;
    padding-left: 65px;
}

#evernote-popup-container #evn-notebook-selector .list .notebook.biz.selected {
    background-position: 21px 50%, calc(100% - 10px) 50%;
}
#evernote-popup-container #evn-notebook-selector .list .notebook.linked.selected {
    background-position: 21px 50%, calc(100% - 10px) 50%;
}

#evernote-popup-container #evn-notebook-selector .list .stack .notebook.biz.selected {
    background-position: 35px 50%, calc(100% - 10px) 50%;
}
#evernote-popup-container #evn-notebook-selector .list .stack .notebook.linked.selected {
    background-position: 35px 50%, calc(100% - 10px) 50%;
}
#evernote-popup-container #evn-notebook-selector .list .stack .notebook.selected {
    background-position: calc(100% - 10px) 50%;
}
#evernote-popup-container #evn-notebook-selector .list .stack.collapsed .stackHeader {
    display: none;
}
#evernote-popup-container #evn-notebook-selector .list .stackHeader {
    background-image: url('extension://images/stack_dark_icon.png');
    /*background-size: 13px 14px;*/
}
