div#evernote-popup-container *
{
    font-size: 12px;
    font-family: Helvetica, sans-serif;
    line-height: normal;
}

div#evernote-popup-container
{
    border-radius: 8px;
    /*overall width: 412px*/
    padding: 5px;
    border: 1px solid #D2D3D4;
    width: 400px;

    background-color: white;
    color: #000;
    line-height: normal;
}

div#evernote-popup-container,
.evernote-autocomplete-panel,
.evernote-selector-float-panel,
#evernote-options-container-identifier.evernote-optionView-container
{
    box-shadow:0px 2px 10px -1px rgba(0,0,0,0.5);
}


#evernote-popup-container .evernote-logo
{
    width: 191px;
    height: 36px;
    float: left;
    position: relative;
}

#evernote-popup-container .clear
{
    clear: both;
}

#evernote-popup-container .evernote-submitWithOptions
{
    background-color: #f2f5f6;    
    padding: 13px 13px 13px;
    border-radius: 8px;

}

#evernote-popup-container #evernote-clipNoteArticle,
#evernote-popup-container #evernote-clipNoteFullpage,
#evernote-popup-container #evernote-clipNoteUrl
{
    display: inline-block;
}

#evernote-popup-container .evernote-button-wrapper
{
    width: 280px;
    margin-left: 60px;
}

#evernote-popup-container .evernote-button-wrapper .evernote-left-border,
#evernote-popup-container .evernote-button-wrapper .evernote-right-border
{
    width: 5px;
    background-repeat: no-repeat;
}

#evernote-popup-container .evernote-button
{
    width: 270px;
    padding-top: 6px;
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 12px;
    font-family: arial, helvetica;
    color: #59595b;
    border: 1px solid #b2c0a6;
    border-left-width: 0;
    border-right-width: 0;
    background-image: linear-gradient(bottom, rgb(245,245,245) 44%, rgb(231,231,231) 72%);
    background-image: -ms-linear-gradient(bottom, rgb(245,245,245) 44%, rgb(231,231,231) 72%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#e7e7e7", endColorStr="#f5f5f5");
    margin-bottom: 10px;
}

#evernote-popup-container .evernote-ui-state-hover
{
    background-image: linear-gradient(bottom, rgb(238,248,229) 44%, rgb(225,239,212) 72%);
    background-image: -ms-linear-gradient(bottom, rgb(238,248,229) 44%, rgb(225,239,212) 72%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#e1efd4", endColorStr="#eef8e5");
}

#evernote-popup-container .user-image-icon
{
    width: 15px;
    background-repeat: no-repeat;
    height: 15px;
    float: left;
}

#evernote-popup-container .user-name
{
    font-weight: bold;
    font-size: 13px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

#evernote-popup-container .dropdown-open-icon
{
    width: 8px;
    height: 8px;
    float: left;
    margin-top: 3px;
}

#evernote-popup-container .user-account-container
{
    padding: 10px;
    float: right;
}

#evernote-popup-container .settings-icon
{
    width: 24px;
    height: 24px;
}

#evernote-content.evernote-popup-container-quirks-mode {
    position: absolute !important;
}

#evernote-content.evernote-popup-container-quirks-mode .evernote-button
{
    padding-top: 7px;
    padding-bottom: 8px;
}

#evernote-content.evernote-popup-container-quirks-mode .evernote-button-wrapper
{
    margin-left: 20px;
}

#evernote-popup-container .options-container
{
    display: none;
}

#evernote-popup-container .clickable
{
    cursor: pointer;
}

#evernote-popup-container .evernote-footer
{
    margin-top: 10px;
    margin-left: 11px;
}

#evernote-popup-container .evernote-footer .options
{
    float: left;
    margin-top: 7px;
    color: #96C678;
}

#evernote-popup-container .evernote-footer .options-link {
    color: #6fb536;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: normal ;
}

#evernote-popup-container .evernote-footer .actions-selector
{
    float: right;
    margin-top: 0;
}

#evernote-popup-container .note-attributes
{
    margin-top: 13px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background-color: #fff;
}

#evernote-popup-container .note-attributes label
{
    text-align: left;
    font-size: 12px !important;
}

#evernote-popup-container .note-attributes .notebook-selector
{
    background-color: white;
    text-align: left;

    border-bottom: 1px solid #D9D9D9;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 28px;
}

#evernote-popup-container .note-attributes .notebook-selector .custom-selector
{
    float: left
}

#evernote-popup-container .note-attributes .notebook-selector .selected-item-panel
{
    background-repeat: no-repeat;
    background-position: right center;
}

#evernote-popup-container ::-ms-clear {
    display: none;
}

#evernote-popup-container .note-attributes .tags-container
{
    text-align: left;
    background-color: white;
    border: 0 none #fff;
    border-bottom: 1px solid #D9D9D9;
}

#evernote-popup-container .note-attributes .tags-container,
#evernote-popup-container .note-attributes .comments-container,
#evernote-popup-container .note-attributes .notebook-selector
{
    background-repeat: no-repeat;
    background-position: 10px 5px;
}

#evernote-popup-container .note-attributes textarea.evernote-comments
{
    height: 15px;
    width: 100%;
    background: none;
    border: none;
    padding: 0px;
    resize: both;
    overflow: hidden;
}

#evernote-popup-container .note-attributes .comments-container textarea.active-comments-field
{
    height: 50px !important;
    overflow: auto;
}

#evernote-popup-container .note-attributes .comments-container
{
    background-position: 9px 8px;
    width: auto;
    border-bottom: none;
}

#evernote-popup-container .note-attributes .tags-container,
#evernote-popup-container .note-attributes .comments-container
{
    padding-left: 28px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#evernote-popup-container .note-attributes input.tags
{
    border: 0 none #fff;
    width: 280px;
    display: inline-block;
    box-sizing: content-box;
    height: 14px;
    border-radius: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}

#evernote-popup-container .note-attributes input.tags:-ms-input-placeholder,
#evernote-popup-container .note-attributes textarea.evernote-comments:-ms-input-placeholder,
#evernote-popup-container .note-attributes input.title:-ms-input-placeholder{
    color: #bababa;
}

#evernote-popup-container .tags-container .evernote-remove-tags-image
{
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}

#evernote-popup-container .note-attributes textarea
{
    overflow: auto;
    border-bottom: 0 none #fff;
    box-sizing: border-box;
    color: #000;
}

#evernote-popup-container .actions-selector .selector-left-border
{
    width: 5px;
    height: 28px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#evernote-popup-container .actions-selector .selector-right-border
{
    width: 30px;
    height: 28px;
    background-repeat: no-repeat;
    cursor: pointer;
}

#evernote-content.evernote-popup-container-quirks-mode .actions-selector .selector-main-content .selected-item-panel,
#evernote-content.evernote-popup-container-quirks-mode .actions-selector .selector-main-content .custom-selector
{
    height: 28px;
}


#evernote-popup-container .actions-selector .selector-main-content .selected-item-panel
{
    background-image: linear-gradient(bottom, rgb(237,247,228) 44%, rgb(226,240,214) 72%);
    background-image: -ms-linear-gradient(bottom, rgb(237,247,228) 44%, rgb(226,240,214) 72%);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#EDF7E4", endColorStr="#E2F0D6");

    border-bottom: 1px solid #b2c0a6;
    border-top: 1px solid #b2c0a6;
    border-right: 1px solid #b2c0a6;
    height: 20px;
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 13px;
    color: #59595B;
    cursor: pointer;
}

#evernote-popup-container .tags-container .evernote-added-tag-entry
{
    color: black;
    margin-right: 5px;
    padding: 2px 14px 2px 4px;
    background: #ebf5e2 no-repeat 98% 50%;
    border: 1px solid #ccd6c5;
    border-radius: 3px;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
}

#evernote-popup-container .tags-container .evernote-added-tag-entry .evernote-close-button
{
    width: 14px;
    height: 14px;
    /*margin-left: 2px;*/
    /*display: inline-block;*/
    position: absolute;
    cursor: pointer;
}


#evernote-popup-container .evernote-note-title
{
    border: 0 none #fff;
    border-bottom: 1px solid #D9D9D9;
    height: 20px;
    padding: 6px 10px 0px  10px;
}


#evernote-content.evernote-popup-container-quirks-mode .evernote-note-title
{
    height: auto;
    padding: 6px 10px 6px  10px;
}

#evernote-content.evernote-popup-container-quirks-mode .evernote-note-title input
{
    /*width: 389px;*/
}

#evernote-popup-container .evernote-note-title input
{
    height: 14px;
    border: 0 none #fff;
    border-radius: 0;
    width: 100%;
}

#evernote-popup-container .globalErrorMessage {
    /*display: none;*/
    color: #F2F5F6;
    background-size: 16px 16px;
    padding: 8px 26px 8px 8px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 15px;
    vertical-align: baseline;
    text-align: left;
    min-height: 30px;
    background: rgba(0, 0, 0, 0.7) no-repeat 99% center;
    background-repeat: no-repeat;
}

#evernote-content.evernote-popup-container-quirks-mode .globalErrorMessage,
#evernote-content.evernote-popup-container-less-than-nine .globalErrorMessage {
    background-repeat: no-repeat;
    background-position: 99% center;
    background-color: rgb(0, 0, 0);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bb000000, endColorstr=#bb000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

#evernote-content.evernote-popup-container-quirks-mode .evernote-note-title input
{
    width: 100%;
}

#evernote-content.evernote-popup-container-quirks-mode .note-attributes .notebook-selector
{
    width: 100%;
}

#evernote-content.evernote-popup-container-quirks-mode .note-attributes .tags-container,
#evernote-content.evernote-popup-container-quirks-mode .note-attributes .comments-container
{
    width: 100%;
}

#evernote-content.evernote-popup-container-less-than-nine .evernote-footer .actions-selector table
{
    float: right;
}

#evernote-popup-container #evernote-businessIcon
{
    width: 18px;
    height: 15px;
}

#evernote-popup-container #evernote-businessIcon.evernote-visible,
#evernote-popup-container #evernote-multiplayerIcon.evernote-visible
{
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
}

#evernote-popup-container #evernote-businessIcon.evernote-hidden,
#evernote-popup-container #evernote-multiplayerIcon.evernote-hidden
{
    display: none;
}

#evernote-popup-container #evernote-multiplayerIcon
{
    width: 23px;
    height: 13px;
}