/*
    html structure:

    #evernote-post-clip-content
        #postClipContainer .yui3-cssreset
*/
@-ms-viewport { width: auto !important; }

#evernote-post-clip-content {
    -ms-user-select: none;
    top:21px;
    right: 21px;
    /*transition: 0.2s;*/
    position: fixed;
    width: 452px;
    height: 135px;
    display:none;
    background-color: #2f373d;
    overflow: visible !important;
    border: 2px solid rgba(178,186,193,0.6);
    border-radius: 2px;    
}

#evernote-post-clip-content.visible {
    opacity: 1;
}

#evernote-post-clip-content #postClipContainer * {
    text-align: left;
}

#evernote-post-clip-content #postClipContainer {
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

#evernote-post-clip-content.processing .closeCross {
    display: none;
}

#evernote-post-clip-content .closeCross {
    background-image: url('extension://images/close_icon.png');
    background-size: 14px 14px;
    cursor: pointer;
    height: 14px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 14px;
}

#evernote-post-clip-content.processing #postClipContainer {
    padding: 18px;
}
#evernote-post-clip-content.processing {
    height: 58px;
}

#evernote-post-clip-content.withoutShare {
    height: 90px;
}

#evernote-post-clip-content.withoutShare #shareButtons {
    display: none;
}


#evernote-post-clip-content.processing .noteTitle,
#evernote-post-clip-content.processing #shareButtons {
    display: none;
}

#evernote-post-clip-content.processing .clippedMessage {
    background: url('extension://images/post-clip/loading.gif') left 60% no-repeat;
    padding-left: 35px;
    color: white;
}

#evernote-post-clip-content .clippedMessage {
    background: url('extension://images/post-clip/checkmark.png') left 60% no-repeat;
    padding-left: 25px;
    font: normal 17px/21px Cambria, sans-serif;
    /*font-style: italic;*/
    color: #2db158;
    text-shadow: 0 1px 2px rgba(000,000,000,0.6);
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}


#evernote-post-clip-content .clippedMessage .evn-processing-status {
    color: #2db158;
    font-style: normal;
    padding-right: 10px;
    line-height: 21px;
}

#evernote-post-clip-content .noteTitle {
    margin-bottom: 10px;
    background: transparent;
    text-align: left;
    font-family: Cambria, sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(000,000,000,0.6);
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* buttons */
#evernote-post-clip-content .button {
    border-radius: 2px;
    color: white;
    cursor: pointer;
    line-height: 28px;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    width: 190px;
    height: 32px;
    font-family : Verdana, Helvetica, Arial, sans-serif;
}

#evernote-post-clip-content .bottom {
    position: absolute;
    bottom: 18px;
}

#evernote-post-clip-content  #shareButton {
    background-color: #26B064;
    right: 20px;
    box-shadow: inset 0 1px 0 0 #33CC78;
}

#evernote-post-clip-content  #shareButton:hover {
    background-color: #33CC78;
}

#evernote-post-clip-content  #shareButton:active {
    background-color: #26B064;
    box-shadow: inset 0 0 8px 3px rgba(2, 52, 24, 0.3);
}

/* share button */
#evernote-post-clip-content #openButton {
    background-color: #7b7b7b;
    box-shadow: inset 0 1px 0 0 #9d9d9d;
}
#evernote-post-clip-content #openButton:hover {
    background-color: #9d9d9d;
}
#evernote-post-clip-content #openButton:active {
    background-color: #9d9d9d;
    box-shadow: inset 0 0 8px 3px rgba(12, 57, 74, 0.3);
}

/* share icons */
#evernote-post-clip-content #shareButtons {
    position: absolute;
    bottom: 18px;
}

#evernote-post-clip-content  #shareButtons .shareButton:first-child {
    width: 40px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    /*margin-right: 12px;*/
}

#evernote-post-clip-content  #shareButtons .shareButton:last-child {
    width: 40px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

#evernote-post-clip-content .shareButton {
    float: left;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-color: #26B064;
    padding: 0;
    margin: 0;
    width: 35px;
    height: 28px;
    border-left: 1px solid #66696E;
}

#evernote-post-clip-content .shareButton:hover {
    background-color: #33CC78;
}

#evernote-post-clip-content #clipboard {
    background-image: url('extension://images/post-clip/clipboard.png');
    background-size: 17px 14px;
    background-position: 5px center;
}

#evernote-post-clip-content #facebook {
    background-image: url('extension://images/post-clip/fb.png');
}

#evernote-post-clip-content #twitter {
    background-image: url('extension://images/post-clip/twitter.png');
}

#evernote-post-clip-content #weibo {
    display: none;
    background-image: url('extension://images/post-clip/Waibo.png');
}

#evernote-post-clip-content #linkedin {
    background-image: url('extension://images/post-clip/linkedin.png');
    background-position:15px 6px;
}

/*copy to clipboard mode*/

#evernote-post-clip-content #evn-clipboardCopy-container {
    display: none;
}

#evernote-post-clip-content.evn-clipboard-mode {
    height: 198px;
}


#evernote-post-clip-content.evn-clipboard-mode .noteTitle {
    margin-bottom: 20px;
}

#evernote-post-clip-content.evn-clipboard-mode .clippedMessage,
#evernote-post-clip-content.evn-clipboard-mode #shareButtons {
    display: none;
}

#evernote-post-clip-content.evn-clipboard-mode #evn-clipboardCopy-container {
    display: block;
    color: white;
}

#evernote-post-clip-content #evn-clipboardCopy-container .evn-pcp-clipboard-input {
    width: 100%;
    box-sizing: border-box;
    text-overflow: ellipsis;
    height: 24px;
    border-radius: 2px;
    background-color: #fafafa;
    color: #2f373d;
    padding: 0 10px;
    border: none;
    font: normal 13px/24px Verdana;
}

#evernote-post-clip-content #evn-clipboardCopy-container .evn-pcp-clipboard-message {
    height: 28px;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-position: left center;
    font: normal 13px/28px Verdana;
    color: #8a98a2;
    text-shadow: 0 1px 2px rgba(000,000,000,0.6);
}

#evernote-post-clip-content #evn-clipboardCopy-container.evn-success .evn-pcp-clipboard-message {
    padding-left: 20px;
    background-image: url('extension://images/post-clip/checkmark_url.png');
}

#evernote-post-clip-content #evn-clipboardCopy-container .evn-pcp-clipboard-button:hover {
    background-color: #33CC78;
}

#evernote-post-clip-content #evn-clipboardCopy-container .evn-pcp-clipboard-button {
    cursor: pointer;
    width: 176px;
    height: 32px;
    background-color: #26b064;
    box-shadow: inset 0 1px 0 0 #33CC78;
    border-radius: 2px;
    text-align: center;
    font: normal 15px/32px Verdana;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(000,000,000,0.5);
    right: 20px;
}

#evernote-post-clip-content #evn-clipboardCopy-container .evn-pcp-divider {
    width: 414px;
    border-top: 1px solid #21262c;
    border-bottom: 1px solid #495865;
    margin-bottom: 10px;
}

/* error mode */

#evernote-post-clip-content.evn-error-mode .clippedMessage,
#evernote-post-clip-content.evn-error-mode .noteTitle,
#evernote-post-clip-content.evn-error-mode #shareButtons,
#evernote-post-clip-content.evn-error-mode #evn-clipboardCopy-container {
    display: none;
}

#evernote-post-clip-content .evn-error-message{
    display: none;
}
#evernote-post-clip-content.evn-error-mode .evn-error-message{
    display: block;
}

#evernote-post-clip-content.evn-error-mode #postClipContainer{
    padding-left: 50px;
}

#evernote-post-clip-content.evn-error-mode  {
    background-image: url('extension://images/error-clip.png');
    background-repeat: no-repeat ;
    background-position: 20px 22px;

    height: auto;
}

#evernote-post-clip-content .evn-error-message #evn-show-logs {
    color: lightgray;
    font: normal 11px Verdana, Helvetica, Arial, sans-serif;
    text-decoration: underline;
}
#evernote-post-clip-content .evn-error-message #evn-show-logs:hover {
    cursor: pointer;
}

#evernote-post-clip-content .evn-error-message .evn-error-desc {
    color: white;
    font: normal 13px Verdana, Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
}


