/*on top*/
#evernote-content,
#evernoteErrorPopup,
#evernoteSaveOptionsSign,
#evernote-options-content,
#evernote-post-clip-content,
#evernoteContentClipperWait,
#evernote-popup-container #evn-notebook-selector,
#evernote-popup-container .evernote-autocomplete-panel {
    z-index: 2147483647 !important;
}

/* below a bit */
#evernote-share-content,
#evernoteScreenCaptureTip,
#evernoteScreenShotArea,
em.clearly_highlight_element a.clearly_highlight_delete_element {
    z-index: 2147483646 !important;
}

/* and below */
#evernotePreviewContainer,
#evernoteLoadingSign,
#evernoteClearlyArticle {
    z-index: 2147483645 !important;
}

/* and below */
.EvConVeil,
.skitch-surface,
#evernoteContentVeil,
.evernotePreviewContainer {
    z-index: 2147483644 !important;
}

/* and below */
#evernoteContentVeilLeft {
    z-index: 2147483643 !important;  /* tooltips bug? */
}

/* dniwe */
.EvConVeilCorn {
    z-index: 2147483642 !important;
}